.footer{
    padding-top: $gap * 3;
    background-color: $color-dark;
    color: $color-light;
    ul{
        padding: 0;
        list-style: none;
    }
    a{
        color: lighten($color-dark, 36%);
        &:focus,
        &:hover{
            color: $color-light;
            }
    }
    &-fifth{
        margin: 20px 0;
        text-align: center;
        a{
            color: darken($color-light, 6%);
            
        }
    }
}